<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="elmahr" type="ElmahR.Core.Config.SectionHandler, ElmahR.Core" />
    </configSections>
    <appSettings>
        <add key="webpages:Version" value="2.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="PreserveLoginUrl" value="true" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
        <add key="webpages:Enabled" value="true" />
    </appSettings>
    <system.web>
        <httpRuntime targetFramework="4.5" />
        <compilation debug="true" targetFramework="4.5" />
        <authentication mode="Forms">
            <forms loginUrl="~/Account/Login" timeout="2880" />
        </authentication>
        <pages>
            <namespaces>
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Optimization" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Web.WebPages" />
            </namespaces>
        </pages>
        <profile enabled="false" />
        <roleManager enabled="false" />
        <sessionState mode="Off" />
        <httpModules />
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <handlers>
            <add name="PostError" verb="POST" path="PostError.axd" type="ElmahR.Core.PostError, ElmahR.Core" />
            <add name="YSOD" verb="GET,HEAD" path="YellowScreenOfDeath.axd" type="ElmahR.Core.YellowScreenOfDeath, ElmahR.Core" />
        </handlers>
        <modules runAllManagedModulesForAllRequests="true">
            <add name="ErrorPost" type="ElmahR.Core.ErrorTrapModule, ElmahR.Core" />
        </modules>
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
                <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    
    <elmahr>
        <application name="WebClient" 
                     sourceId="WEBCLIENT" 
                     infoUrl="http://localhost:1337/elmah.axd" 
                     testExceptionUrl="http://localhost:1337/elmah.axd/test" />

        <application name="ConsoleClient"
                     sourceId="CONSOLECLIENT" />
        <!--
    The following commented entry would map an application entry to the dashboard itself, 
    in case you want to broadcast errors coming from there. You will need
    to activate the ErrorTrapModule listed elsewhere in this file in the appropriate
    modules sections. If you do want to receive errors from the dashboard simply uncomment
    the following line.
    -->
        <!--<application name="Myself" sourceId="###ElmahR###" boxClass="boxColorElmahR" />-->

        <!--
    Please refer to https://bitbucket.org/wasp/elmahr/wiki/Setup for a complete
    list of the available configuration options
    -->
    </elmahr>
</configuration>
