<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      
      throwExceptions="true"
      internalLogFile="nlog.txt"
      internalLogToConsole="true">

    <extensions>
        <add assembly="ElmahR.Client"/>
    </extensions>

    <targets>
        <target xsi:type="Elmah"
                name="elmahWithLogLevelAsType"
                layout="${longdate} ${uppercase:${level}} ${message}"
                LogLevelAsType="true"/>
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="elmahWithLogLevelAsType" />
    </rules>
</nlog>
