<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="elmah">
            <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
            <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
        </sectionGroup>
    </configSections>

    <elmah>
        <security allowRemoteAccess="false" />
        <errorLog type="ElmahR.Client.ElmahRErrorLog, ElmahR.Client" 
                  targetUrl="http://localhost:13371/posterror.axd" sourceId="CONSOLECLIENT" />
    </elmah>
</configuration>
